%li{id: "comment:#{comment.id}"}
  %p.pull-left.comment-user-image
    =gravatar_image_tag current_user.email, gravatar: { size: 50 }
  %p
    %strong=current_user.email
    %small.text-muted
      =time_ago_in_words comment.created_at
      ago

  =simple_format comment.body
