%li{id: "comment:#{comment.id}"}
  %p.pull-left.comment-user-image
    =gravatar_image_tag comment.user.email, gravatar: { size: 50 }
  %p
    %strong=comment.user.email
    %small.text-muted
      =time_ago_in_words comment.created_at
      ago

    %span.badge=(Random.rand * 100).round

  =simple_format comment.body
