%nav.navbar.navbar-default.navbar-inverse.navbar-static-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "What's new in Rails 5", root_path, class: "navbar-brand"

    #main-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to "Projects", projects_path
      %ul.nav.navbar-nav.navbar-right
